body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}
